@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-white * {
  color: #fff !important;
}

.prose {
  max-width: 100%;
  line-height: 1.5;
}

.prose pre {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose li {
  margin-top: 0;
  margin-bottom: 0;

}

.prose h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.prose h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.prose ul {
  margin-top: 0.5rem;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}